{
  "log": {
    "_recordingName": "iterateUsers404",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2531614bff07ad1a156094ab128f650a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/a76fc728-0cba-45f0-a9eb-d45207e14513/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 723,
            "text": "{\"error\":\"unauthorized_client\",\"error_description\":\"AADSTS700016: Application with identifier 'clientId' was not found in the directory 'Default Directory'. This can happen if the application has not been installed by the administrator of the tenant or consented to by any user in the tenant. You may have sent your authentication request to the wrong tenant. Trace ID: 7992f9a1-c432-465f-8046-3545724c7200 Correlation ID: dab77a1d-769c-4c7f-a8aa-dfcb0d2f241b Timestamp: 2024-02-21 13:03:24Z\",\"error_codes\":[700016],\"timestamp\":\"2024-02-21 13:03:24Z\",\"trace_id\":\"7992f9a1-c432-465f-8046-3545724c7200\",\"correlation_id\":\"dab77a1d-769c-4c7f-a8aa-dfcb0d2f241b\",\"error_uri\":\"https://login.microsoftonline.com/error?code=700016\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 568,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
